<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Consultar Cursos</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Nome
                </th>
                <th>
                  Carga Horária
                </th>
                <th>
                  Modalidade de Ensino
                </th>
              </thead>
              <tbody>
                <tr >
                  <td>
                   a
                  </td>
                  <td>
                   a
                  </td>
                  <td>
                   a
                  </td>
                  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




