<div class="panel-header panel-header-sm">
</div>
<div class="main-content responsive-main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        
        
        <div class="card-body">
          <div class="row justify-content-center" style="padding-bottom: 5px;">
          
            <div *ngFor="let c of historicoscotacao" class="coluna-diminuir-medio"> ATUALIZAÇÃO: {{c.dataHistorico | date:'dd/MM/YY HH:mm' }}  DOLAR($):{{c.cotacaoDolar | number:'1.0-4'}}</div>
          
          
          </div>
          <div class="row justify-content-center" style="padding-bottom: 5px;">
          
            <div *ngFor="let c of historicoscotacao" class="coluna-diminuir-medio"> MAFA(R$):{{c.cotacaoMafaReal | number:'1.0-4'}}  MAFA($):{{c.cotacaoMafaDolar | number:'1.0-4'}}</div>
          
          
          </div>
          
          <div class="row justify-content-center" style="padding-bottom: 5px;">
           
           
                <button class="btn btn-primary" (click)="consultarTodasCarteiras()">Todas Carteiras</button>
                <button class="btn btn-primary" (click)="BuscarCarteirasEmpresa()" >Somente Carteiras Empresa</button>
                <button class="btn btn-primary" (click)="BuscarCarteirasPrivada()" >Somente Carteiras Privada</button>                

           
            
          </div>
          <div class="row justify-content-center" style="padding-bottom: 50px;">

          
          
          <div class="col-md-4 pr-1">
            <div class="form-group">
              <label>Código Carteira</label>
              <input id="cargaHoraria" class="form-control" [(ngModel)]="codigoCarteira" id="codigoCarteira" name="codigoCarteira">
              <button class="btn btn-primary" (click)="BuscarPorCodCarteira()">Buscar Carteira</button>
              <button class="btn btn-primary" (click)="consultarTodasCarteiras()">Limpar</button>

            </div>
          </div>

        </div>

         
  
          <div class="table-responsive" style="padding-right: 3%;">
            <table class="table">
              <thead class=" text-primary">

                <th class="text-center coluna-diminuir-medio">
                  Rank
                </th>

                <th class="text-center coluna-responsiva">
                  Código Carteira
                </th>
                <th class="text-center mobile coluna-diminuir-medio">
                  Codigo Reduzido
                </th>
                <th class="text-center coluna-diminuir-medio">
                  Tipo Carteira
                </th>
                <th class="text-center coluna-responsiva">
                  Tipo Carteira Empresa
                </th>

                <th class="text-center coluna-responsiva">
                  Data Verificação
                </th>

                <th class="text-right coluna-diminuir-medio">
                  Total Tokens
                </th>
               
              </thead>
              <tbody>
                <tr *ngFor="let c of carteiras">
                  <td class="text-center coluna-diminuir-medio">
                   <div  *ngIf="c.rank != 0">{{c.rank}}</div> 
                  </td>
                  <td class="text-center coluna-diminuir coluna-responsiva">
                    <a href="https://bscscan.com/token/0x6dd60afb2586d31bf390450adf5e6a9659d48c4a?a={{c.codigoCarteira}}" target="_blank"> {{c.codigoCarteira}}</a>
                  </td>
                  <td class="text-center coluna-diminuir mobile">
                    <a href="https://bscscan.com/token/0x6dd60afb2586d31bf390450adf5e6a9659d48c4a?a={{c.codigoCarteira}}" target="_blank">{{c.codigoCarteira | slice:38:42}} </a>
                  </td>
                  <td class="text-center coluna-diminuir-medio">
                    {{c.tipoCarteira}}
                  </td>
                  <td class="text-center coluna-responsiva ">
                    {{c.tipoCarteiraEmpresa}}
                  </td>

                  <td class="text-center coluna-responsiva">
                    {{c.dataVerificacao | date:'dd/MM/YY HH:mm' }}
                  </td>


                  <td class="text-right coluna-diminuir-medio">
                    {{c.saldo | number:'1.0-0'}}
                  </td>
                  
                  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




