<div class="panel-header panel-header-sm">
</div>
<div class="main-content responsive-main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        
        <div class="card-body">
          <div class="row justify-content-center" style="padding-bottom: 5px;">
           
           
            <button class="btn btn-primary" (click)="consultarTodosHistoricos()">Todas Carteiras</button>
            <button class="btn btn-primary" (click)="consultarTodosHistoricosEmpresa()" >Somente Carteiras Empresa</button>
            <button class="btn btn-primary" (click)="consultarTodosHistoricosPrivada()" >Somente Carteiras Privada</button>  
            <button class="btn btn-primary" (click)="consultarTodosHistoricosCem()">Transações > 100000</button>              

       
        
      </div>
      <div class="row justify-content-center" style="padding-bottom: 50px;">

      
      
        <div class="col-md-4 pr-1">
          <div class="form-group">
            <label>Código Carteira</label>
            <input id="cargaHoraria" class="form-control" [(ngModel)]="codigoCarteira" id="codigoCarteira" name="codigoCarteira">
            <button class="btn btn-primary" (click)="BuscarPorCodCarteira()">Buscar Carteira</button>
            <button class="btn btn-primary" (click)="consultarTodosHistoricos()">Limpar</button>

          </div>
        </div>
        <!--
          <div class="row"> 
        
          <div class="col-md-2">
          
          <label>Tipo de Carteira</label>
            <select class="form-control" id="tipoCarteiraId" formControlName="tipoCarteiraId" >
              <option class="txt-bold"  value="1" >Todas</option>
              <option class="txt-bold"  value="1">Queima</option>
              <option class="txt-bold"  value="1">Contrato</option>
              <option class="txt-bold"  value="1">Empresa</option>
              <option class="txt-bold"  value="1">Privada</option>
             
            </select>
              




          </div>

          
              <div class="col-md-2">
            
              
                <label>Codigo Carteira</label>
                <input id="codigoCarteira" formControlName="codigoCarteira" type="number" class="form-control">
                    
      
      
      
      
                </div>

            

        </div>-->

          
          
          <div class="table-responsive" style="padding-right: 3%;">
            <table class="table">
              <thead class=" text-primary">
                <th class="text-center coluna-diminuir-medio">
                  Data
                </th>
                <th class="text-center coluna-responsiva">
                  Tipo Carteira
                </th>
                <th class="text-center coluna-diminuir-medio">
                  Código Carteira
                </th>
                <th class="text-right coluna-responsiva">
                  Saldo Atual
                </th>
                <th class="text-right coluna-diminuir-medio">
                Quantidade Tokens
                </th>
                <th class="text-right coluna-responsiva">
                  Valor Real
                  </th>
              </thead>
              <tbody>
                <tr *ngFor="let c of historicos">
                  <td class="text-center coluna-diminuir-medio">
                    {{c.dataHistorico | date:'dd/MM/YY HH:mm' }}
                  </td>
                  <td class="text-center coluna-responsiva">
                    {{c.tipoCarteira }}
                  </td>
                  <td class="text-center coluna-diminuir">
                    <a href="https://bscscan.com/token/0x6dd60afb2586d31bf390450adf5e6a9659d48c4a?a={{c.codigoCarteira}}" target="_blank"> {{c.codigoCarteira}}</a>
                  </td>
                  <td class="text-right coluna-responsiva">
                    {{c.saldo | number:'1.0-0'}}
                  </td>
                  <td class="text-right coluna-diminuir-medio">
                    {{c.diferenca | number:'1.0-0'}} <br>
                    <div class="mobile">R$ {{c.valorTransacaoReal | number:'1.0-0'}}</div>
                  </td>
                  <td class="text-right coluna-responsiva">
                    R$ {{c.valorTransacaoReal | number:'1.0-0'}}
                  </td>
                  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




