<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Histórico de movimentaçoes por carteira a cada 5 minutos. Somente top 500 carteiras</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Data Verificação / Evento Mudança
                </th>
                <th>
                  Código Carteira
                </th>
                <th>
                  Saldo Atual Após o Evento
                </th>
                <th>
                 Operação (Positivo = Acumulo, Negativo = Diminuição)
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let c of historicos">
                  <td>
                    {{c.dataHistorico}}
                  </td>
                  <td>
                    {{c.codigoCarteira}}
                  </td>
                  <td>
                    {{c.saldo | number:'1.0'}}
                  </td>
                  <td>
                    {{c.diferenca | number:'1.0'}}
                  </td>
                  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




